<h1><p><u>Help</u></p></h1>
<p>
  You can view the posts either by Signing in or as a guest user. Guest users
  do not have the ability to vote for posts, reply to or delete them. Sign up
  to create an account and get full access to vote, create new posts and reply
  to existing ones. <br/><br/>
  Reg'd Admin accounts: If there exists no admin account, then you would be
  prompted to create one on the Sign up page. Once an Admin account has been
  created, only that Admin has the capability to create more Admin accounts i.e.
  The ability to create Admin accounts from the Sign up Page disappears. The
  Admin has the ability to create, delete posts and users.
</p>
