<h1>Welcome to the Backhannel App!</h1>

<%= link_to "Sign up now!", signup_path(:user_type => "regular"), :class => "signup_button round" %>
<br />
<%= link_to "Browse as Guest", signup_path(:user_type => "guest"), :class => "guest_browse round" %>
